<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>

  	<% include partials/navbar.ejs %>

  	<main class="container">

    <% include ../static/partials/messages.ejs %>
      
      <h1>Upgrade Account</h1>

<p> Upgrade your account to Premium and create private posts!<p>

<p> Only $15.00. Pay below!</p>

<form action="/upgrade" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_FUajexO4RZY0yG9GpBKtLT2w"
    data-amount="1500"
    data-name="Demo Site"
    data-description="Example charge"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
</form>      
    </main>

  	</main>
  	
    <% include partials/baseScripts.ejs %>
   </body>
</html>  		